@model S3Project.Models.LoginViewModel

@{
    ViewData["Title"] = "Login";
}
@*
<h1>Login</h1>

<h4>LoginViewModel</h4>*@
<hr />
<div class="row">
    <div class="col-md-4">
        @*<form asp-action="Login">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="UserName" class="control-label"></label>
                <input asp-for="UserName" class="form-control" />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Login" class="btn btn-primary" />
            </div>
            <div class="form-group">
                <input type="submit" value="Cancel" class="btn btn-primary" />
            </div>
        </form>*@

        @*Login Form Start*@
        <section id="loginForm">
            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post))
            {        @*Html.AntiForgeryToken()*@
                @*<span style="color:red;">@Html.ValidationSummary(true)</span>*@
                <div class="form-group">
                    <span style="color:indianred">@Html.ValidationMessageFor(m => m.UserName)</span>
                    <span class="">Username</span>
                    @Html.TextBoxFor(m => m.UserName, new { @class = "input100", @placeholder = "Enter username" })
                    <span class=""></span>

                </div>

                <div class="form-group" data-validate="Password is required">
                    <span style="color:indianred">@Html.ValidationMessageFor(m => m.Password)</span>
                    <span class="">Password</span>
                    @Html.PasswordFor(m => m.Password, new { @class = "input100", @placeholder = "Enter password" })
                    <span></span>

                </div>
                <div>
                    <button type="submit" value="Log in" class="btn btn-primary">
                        Login
                    </button>
                </div>
            }
        </section>
        @*Login Form End*@
    </div>
</div>
@*
<div>
    <a asp-action="Index">Back to List</a>
</div>*@

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
