@model S3Project.Models.LoginViewModel

@{
    ViewData["Title"] = "Login";
    Layout = "";
}
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
<link rel="stylesheet" href="~/S3Project.styles.css" asp-append-version="true" />
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/
/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>

<div>
    <div class="container-login">
       
            <div class="row">                
            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post))
            {        @*Html.AntiForgeryToken()*@
                @*<span style="color:red;">@Html.ValidationSummary(true)</span>*@
                <div class="mb-3">
                    <span class="">Username</span>
                    @Html.TextBoxFor(m => m.UserName, new { @class="form-control"})
                    <span style="color:indianred">@Html.ValidationMessageFor(m => m.UserName)</span>
                </div>
                <div class="mb-3" data-validate="Password is required">
                    <span class="">Password</span>
                    @Html.PasswordFor(m => m.Password, new { @class="form-control"})
                    <span style="color:indianred">@Html.ValidationMessageFor(m => m.Password)</span>
                </div>
                <div class="mb-3">
                        <button type="submit" value="Log in" class="btn btn-primary">
                            Login
                        </button>
                </div>
            }
        </div>
            </div>
    </div>
    
@*
<div>
    <a asp-action="Index">Back to List</a>
</div>*@

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

<style>

    .container-login {
        /*min-height: 100vh;*/
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        padding: 15px;
    }


</style>