@model S3Project.Models.VisitorInfoViewModel

@{
    ViewData["Title"] = "Visitor Information";
}

@*<h1>Create</h1>*@

<h4>Please fill the Visitor Information Form</h4>
<hr />

<div class="row">
    @using (Html.BeginForm("Create", "VisitorInfo", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post))
            {
        @Html.HiddenFor(model => model.id)
    <div class="row">    
    <div class="col-md-6">        
            @*<div asp-validation-summary="ModelOnly" class="text-danger"></div>            *@
            <div class="mb-3">
                    <label>* Name</label>
                    @Html.TextBoxFor(m => m.Name, new { @class="form-control"})
                    <span style="color:indianred">@Html.ValidationMessageFor(m => m.Name)</span>
                @*<input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>*@
            </div>   
            <div class="mb-3">
                    <label>* Company Name</label>
                    @Html.TextBoxFor(m => m.company_name, new { @class="form-control"})
                    <span style="color:indianred">@Html.ValidationMessageFor(m => m.company_name)</span>
            </div>
                <div class="mb-3">
                    <label>* Business Number</label>
                    @Html.TextBoxFor(m => m.mobile, new { @class="form-control"})
                    <span style="color:indianred">@Html.ValidationMessageFor(m => m.mobile)</span>
            </div>
       
    </div>
    <div class="col-md-6">
                <div class="mb-3">
                    <label>* Business Email</label>
                    @Html.TextBoxFor(m => m.email, new { @class="form-control"})
                    <span style="color:indianred">@Html.ValidationMessageFor(m => m.email)</span>
                @*<label asp-for="email" class="control-label"></label>*@
                @*<input asp-for="email" class="form-control" />
                <span asp-validation-for="email" class="text-danger"></span>*@
            </div>
                <div class="mb-3">
                    <label>* Designation</label>
                    @Html.TextBoxFor(m => m.designation, new { @class="form-control"})
            </div>
                <div class="mb-3">
                    <label>* License Plate</label>
                    @Html.TextBoxFor(m => m.license_plate, new { @class="form-control"})
            </div>
    </div>

</div>
    <div class="row">
        <div class="col-md-12">
                <div class="mb-3">
                    <label>NRIC/FIN Number (last 4 character) *</label>
                    @Html.TextBoxFor(m => m.nric_fin, new { @class="form-control"})
                </div>
                <div class="mb-3">
                    <label>1. Are you currently under a Quarantine Order, Stay-Home Notice?</label>
                    <div class="input-group">
                        @Html.RadioButtonFor(m => m.issh_notice, true) &nbsp; Yes &nbsp; &nbsp;
                        @Html.RadioButtonFor(m => m.issh_notice, false) &nbsp; No
                        @*@Html.RadioButtonFor(m => m.isclose_contact, true, Model.isclose_contact == true ? new { Checked = "checked" } : null) &nbsp; Yes &nbsp; &nbsp;
                        @Html.RadioButtonFor(m => m.isclose_contact, false, Model.isclose_contact == false ? new { Checked = "checked" } : null) &nbsp; No*@
                    </div>
                </div>
                <div class="mb-3">
                    <label>2. Have you had close contact with a confirmed COVID-19 case in the past 14 day?</label>
                    <div class="input-group">
                        @Html.RadioButtonFor(m => m.isclose_contact, true) &nbsp; Yes &nbsp; &nbsp;
                        @Html.RadioButtonFor(m => m.isclose_contact, false) &nbsp; No
                    </div>
                </div>
                <div class="mb-3">
                    <label>3. Do you have any fever or flu-like symptoms?</label>
                    <div class="input-group">
                        @Html.RadioButtonFor(m => m.isfever, true) &nbsp; Yes &nbsp; &nbsp;
                        @Html.RadioButtonFor(m => m.isfever, false) &nbsp; No
                    </div>
                </div>
                <div class="mb-3 form-group form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" asp-for="isclose_contact" /> By Completing this online form, I acknowledge and consent to the collection,
                        use and disclosure of my personal data for security verification, access control and safety purpose.
                    </label>
                </div>

                <div class="form-row">
                    <div class="col-md-4"></div>
                    <div class="col-md-6">
                        <button type="submit" id="save" class="btn btn-sm btn-outline-info">Submit</button>
                    </div>
                </div>
        </div>

</div>
    
    }
</div>



<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
